# Database Credentials
POSTGRES_USER=user
POSTGRES_PASSWORD=user
POSTGRES_DB=mydb

# pgAdmin Credentials
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin

# Goose config
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://user:user@postgres:5432/mydb?sslmode=disable
GOOSE_MIGRATION_DIR=./db/migrations